<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <div class="centered-container">
        <h1 class="decorated-title font-secondary main-color">
            <span class="main-color-emphasized">Item</span>
            information</h1>
        <div class="separator"></div>
    </div>
    <div class="item-view">
        <img class="item-view-image" src="<%- item.imageurl %> "></img>
        <div class="item-view-text">
            <div class="item-view-text-title font-secondary main-color-emphasized"><%- item.name %> </div>
            <hr>
            <div class="item-view-text-property main-color">Price: <span class="item-view-text-value"><%- item.price %>  kn</span></div>
            <div class="item-view-text-property main-color">Available colors: <span class="item-view-text-value"><%- item.colors %> </span></div>
            <div class="item-view-text-property main-color">Category: <span class="item-view-text-value"><%- item.categoryname %></span></div>
            <div class="item-view-text-property main-color">Seasonal: <span class="item-view-text-value"><%- item.seasonal %></span></div>
            <div class="item-view-text-desc font-secondary main-color"><%- item.categorydescription %> </div>
        </div>
    </div>

    <div class="centered-container">
        <h1 class="decorated-title font-secondary main-color" style="display: grid; grid-auto-rows: auto;">
            <span>
                <span class="main-color-emphasized">Item </span> Partners</h1>
            </span>
            <a href="/partners/create-partner?item=<%- item.id %> ">
                <img border="0" alt="add new partner" src="../public/images/plus.png" width="100" height="100">
            </a>
        <div class="separator"></div>
    </div>

    <% if (partners.length === 0) { %>
        <div class="centered-container">
            <h2 class="decorated-title font-secondary main-color">No partners! All our own items.</h2>
        </div>
    <% } else { %>
        <section class="section secondary-color-bg info_container">
            <% for (let partner of partners) { %>
                <h3 class="decorated-title font-secondary main-color-emphasized"><%= partner.name %>
                </h3>
                <div class="item-view-text-property main-color">Owner:
                    <span class="item-view-text-value"><%= partner.owner_name %> <%= partner.owner_surname %></span></div>
                <div class="item-view-text-property main-color">E-mail:
                    <span class="item-view-text-value"><%= partner.email %></span></div>
                <div class="item-view-text-property main-color">Partner since:
                    <span class="item-view-text-value"><%= partner.partnersince %></span></div>
                <hr>
            <% } %>
        </section>
    <% } %>
</main>

<%- include(`partials/footer`); %>

</body>

</html>