<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <% for (let category of categories) {%>
        <section class="section secondary-color-bg">
            <div class="centered-container">
                <h1 class="decorated-title font-secondary main-color">
                    <span class="main-color-emphasized"><%-  category.name %></span>
                    Inventory</h1>
                <div class="separator"></div>
                <% if(category.items.length === 0){ %>
                    <h1 class="decorated-title font-secondary main-color">No items in this category</h1>
                <% } %>
            </div>
            <div class="gallery">
                <% for (let item of category.items) {%>
                    <div class="photo-box" data-id="<%- item.id %>">
                        <img class="photo-box-image" src="<%- item.imageurl %>"></img>
                        <div class="photo-box-title font-secondary main-color-emphasized">
                            <a class="link" href="../item/<%- item.id %>"><%- item.name %></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>




    <% } %>
</main>

<%- include(`partials/footer`); %>

</body>

</html>